.wrap {
  margin: 0 auto;
  width: 640px;
}
.d-flex {
  display: flex;
}
img {
  display: block;
}
.me-5 {
  margin-right: 20px;
}
.mb-6 {
  margin-bottom: 24px;
}
h2 {
  font-size: 20px;
  line-height: 1.2;
}
p {
  font-size: 16px;
  line-height: 1.5;
}
.footer {
  padding: 48px 0;
  text-align: center;
  outline: solid 1px;
}
